@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Poppins', 'Helvetica Neue';
}

html{
  scroll-behavior: smooth;
}

.markdown > * {
  all: revert;
}

.markdown > p {
  font-weight: 300;
}

.markdown > b {
  font-weight: 500;
}

.markdown a {
  color: rgb(255, 133, 133)
}

.markdown a:hover{
  text-decoration: underline;
}

.markdown > blockquote {
  margin-left: 0px;
  padding-left: 1rem;
  border-left: 4px solid rgb(226, 139, 139);
  color: rgb(232, 98, 98);
}